version: '2.1'

services:
  aws:
    image: localstack/localstack
    container_name: aws
    ports:
      - "4572:4572"
      - "4573:4573"
      - "${PORT_WEB_UI-8080}:${PORT_WEB_UI-8080}"
    environment:
      - SERVICES=firehose:4573, s3:4572
      - DEBUG=${DEBUG- }
      - DATA_DIR=/tmp/localstack/data # currently only supported for these services: Kinesis, DynamoDB, Elasticsearch, S3
      - PORT_WEB_UI=${PORT_WEB_UI- }
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR- }
      - KINESIS_ERROR_PROBABILITY=${KINESIS_ERROR_PROBABILITY- }
      - DOCKER_HOST=unix:///var/run/docker.sock
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - REGION=local
    volumes:
      - ./localstack:/opt/code/localstack/localstack
      - localstack_data:/tmp/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - localstack_elasticsearch

volumes:
  localstack_data:

networks:
  localstack_elasticsearch:
    external: true
